/**************************/
/*      ログインページ     */
/**************************/

/* タイトル */
/* ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */
.login-title > h1 {
    margin-top: 4%;
    margin-bottom: 1%;
}

/* ログイン入力フォーム */
/* ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */

    /* フォーム全体 */
    /* ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */
    .loginFormArea__inputForm > form {
        width: 50%;
        margin: 0 auto 1% auto;
        text-align: center;
    }

    /* ID・パスワード項目　入力項目 */
    /* ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */
    .loginFormArea__inputForm__wrapper {
        grid-template-columns: 30% 60%;
        grid-gap: 10% 0%;
        margin-bottom: 5%;
    }

    /* 左項目 */
    /* ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― */
    .loginFormArea__inputForm__wrapper > p {
        text-align: right;
    }